@import "../../fonts/OpenSans-Bold/font-opensans-bold.css";
@import "../../fonts/OpenSans-Medium/font-opensans-medium.css";

// Fonts
$font-opensans: "OpenSans";

// Main colors
$color-black: #000000;
$color-orange: #ffa501;
$color-light-blue: #bcdbef;
$color-white: #ffffff;
$color-light-gray: #eeeeee;
$color-blue: #2196f3;
$color-dark-blue: #2306d6;
$color-light-yellow: #ffff99;

// Default checkpoints for adaptive
$pc-l: 1440px;
$pc-m: 1400px;
$pc-s: 1280px;
$laptop-l: 1024px;
$laptop-m: 960px;
$laptop-s: 864px;
$tablet-l: 768px;
$tablet-m: 640px;
$tablet-s: 576px;
$phone-l: 480px;
$phone-m: 360px;
$phone-s: 320px;
