@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Global container of whole page
.global-container {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make flex elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

// This class is needed to make block elements appear (by adding this class)
.appeared-block {
  display: block !important;
}

// This class is needed to show error message based on data attribute of field wrapper
.error-field-wrapper:focus-within::after {
  opacity: 1;
}
.error-field-wrapper::after {
  content: attr(data-error-msg);
  padding: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 100%;
  font-family: $font-opensans;
  color: $color-black;
  background-color: #ffdfe3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

// This class is needed to to highlight the erroneous field in red
.error-field {
  border: 3px solid $color-red !important;
}

.socials-list {
  display: flex;
  column-gap: 15px;
  &_burger-menu {
    align-self: center;
  }
  &__item {
    width: 20px;
    height: 20px;
    .socials-list__item-link {
      display: inline-block;
      width: 20px;
      height: 20px;
      transition: 0.3s;
      &_github {
        background-image: url("../../images/icon-github.svg");
        &:hover {
          transform: scale(1.1);
        }
      }
      &_insta {
        background-image: url("../../images/icon-instagram.svg");
        &:hover {
          transform: scale(1.1);
        }
      }
      &_facebook {
        background-image: url("../../images/icon-facebook.svg");
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
  &__nav-and-socials-wrapper {
    position: relative;
    padding-block: 140px 50px;
    max-width: 345px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-orange;
    @media (max-width: $phone-l) {
      max-width: 250px;
    }
    .burger-menu__close-btn {
      position: absolute;
      top: 24px;
      right: 25px;
      width: 40px;
      height: 40px;
      background: url("../../images/icon-close-btn.svg") $color-orange
        center/29px 29px no-repeat;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        filter: brightness(110%);
      }
    }
    .burger-menu__nav {
      padding-left: 40px;
      @media (max-width: $phone-l) {
        padding-left: 20px;
      }
      .burger-menu__nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 15px;
        .burger-menu__nav-list-item {
          position: relative;
          padding-left: 36px;
          transition: 0.3s;
          &::before {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid $color-black;
            border-radius: 50%;
          }
          &:hover {
            transform: scale(1.1);
            .burger-menu__link {
              color: $color-light-yellow;
            }
          }
          &:hover::before {
            background-color: $color-light-yellow;
            border: 1px solid $color-light-yellow;
          }
          .burger-menu__link {
            font-family: $font-opensans;
            font-size: 24px;
            line-height: 36px;
            font-weight: bold;
            color: $color-white;
            text-decoration: none;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.modal-window {
  padding: 20px;
  position: fixed;
  z-index: 10;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &__wrapper {
    padding: 20px;
    position: relative;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: $color-light-blue;
    border-radius: 10px;
    @media (max-width: $phone-l) {
      padding: 10px;
    }
    .modal-window__close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      border: none;
      cursor: pointer;
      transition: 0.2s;
      background: url("../../images/icon-close-btn.svg") transparent center/29px
        29px no-repeat;
      &:hover {
        transform: scale(1.1);
      }
    }
    .modal-window__headline {
      padding: 8px 30px;
      text-align: center;
      @include default-headline(30px, 36px);
      @media (max-width: $tablet-l) {
        font-size: 26px;
        line-height: 30px;
      }
      @media (max-width: $phone-l) {
        font-size: 20px;
        line-height: 22px;
      }
      @media (max-width: $phone-m) {
        font-size: 16px;
        line-height: 18px;
      }
    }
    .modal-window__text {
      padding: 4px;
      text-align: center;
      @include default-text(24px, 30px);
      @media (max-width: $tablet-l) {
        font-size: 20px;
        line-height: 26px;
      }
      @media (max-width: $phone-l) {
        font-size: 14px;
        line-height: 20px;
      }
      @media (max-width: $phone-m) {
        font-size: 12px;
        line-height: 16px;
      }
    }
    .modal-window__btns-wrapper {
      align-self: normal;
      display: flex;
      justify-content: space-evenly;
      column-gap: 20px;
      .modal-window__btn {
        @include default-btn(200px, $color-orange);
        @media (max-width: $phone-m) {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
  }
}
