@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Global container of whole page
.global-container {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

.socials-list {
  display: flex;
  column-gap: 15px;
  &__item {
    width: 20px;
    height: 20px;
    .socials-list__item-link {
      display: inline-block;
      width: 20px;
      height: 20px;
      transition: 0.3s;
    }
    .socials-list__item-link_github {
      background-image: url("../../images/icon-github.svg");
      &:hover {
        transform: scale(1.1);
      }
    }
    .socials-list__item-link_insta {
      background-image: url("../../images/icon-instagram.svg");
      &:hover {
        transform: scale(1.1);
      }
    }
    .socials-list__item-link_facebook {
      background-image: url("../../images/icon-facebook.svg");
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.burger-menu {
  &__nav-and-socials-wrapper {
    .burger-menu__close-btn {
    }
    .burger-menu__nav {
      .burger-menu__nav-list {
        .burger-menu__nav-list-item {
          .burger-menu__link {
          }
        }
      }
    }
  }
}
