@import "../global/vars";
@import "../global/templates";

.main-info-section {
  position: relative;
  min-height: 800px;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  &__socials-wrapper {
    position: absolute;
    top: 383px;
    left: -107px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    transform: rotate(270deg);
    .main-info-section__socials-text {
      @include default-headline(16px, 24px);
    }
    .main-info-section__socials-divider {
      width: 70px;
      height: 2px;
      background-color: $color-black;
    }
  }
  &__person-info-wrapper {
    @extend %default-container;
    padding-top: 200px;
    padding-bottom: 362px;
    border-top: 1px solid $color-black;
    border-inline: 1px solid $color-black;
    .main-info-section__name-signature-text {
      position: relative;
      z-index: 0;
      padding-left: 10px;
      margin-bottom: 9px;
      @include default-headline(16px, 24px);
      &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: 0;
        z-index: -1;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $color-orange;
      }
    }
    .main-info-section__major-headline {
      margin-bottom: 25px;
      max-width: 530px;
      @include default-headline(48px, 60px);
    }
    .main-info-section__btns-wrapper {
      display: flex;
      column-gap: 19px;
      .main-info-section__btn-portfolio {
        @include default-btn(135px, $color-orange);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      }
      .main-info-section__btn-about-me {
        @include default-btn(135px, transparent);
      }
    }
  }
}

.utility-section {
  &__experience-label {
  }
  &__utility-label {
  }
  &__divider {
  }
  &__edu-exp-wrapper {
  }
}

.edu-exp-wrapper {
  &__headline {
  }
}

.orange-circles-structure {
  &__small-circle {
  }
  &__all-lines-wrapper {
    .orange-circles-structure__vertical-line {
    }
    .orange-circles-structure__horizontal-lines-wrapper {
      .orange-circles-structure__horizontal-line {
      }
      .orange-circles-structure__big-circle {
      }
    }
  }
}

.edu-exp-info-card {
  &__icon-head-info-wrapper {
    .edu-exp-info-card__icon {
    }
    .edu-exp-info-card__head-info-wrapper {
      .edu-exp-info-card__head-info-main {
      }
      .edu-exp-info-card__head-info-additional {
      }
    }
    .edu-exp-info-card__text {
    }
  }
}

.contacts-section {
  &__img {
  }
  &__info-wrapper {
    .contacts-section__contacts-label {
    }
    .contacts-section__contact-me-label {
    }
    .contacts-section__orange-line {
    }
    .contacts-section__simple-label {
    }
    .contacts-section__socials-list {
      .contacts-section__social-item {
        .contacts-section__social-link {
        }
        .contacts-section__social-link_facebook {
        }
        .contacts-section__social-link_telegram {
        }
        .contacts-section__social-link_insta {
        }
      }
    }
    .contacts-section__contact-form {
      .contacts-section__name-mail-wrapper {
      }
      .contacts-section__privacy-policy-wrapper {
        .contacts-section__privacy-policy-checkbox {
        }
        .contacts-section__privacy-policy-label {
          .contacts-section__privacy-policy-link {
          }
        }
      }
      .contacts-section__contact-form-submit-btn {
      }
    }
  }
}

.form-input-wrapper {
  &__label {
  }
  &__input {
  }
}

.form-textarea-wrapper {
  &__label {
  }
  &__textarea {
  }
}
